body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    position: relative;
    transition: background-color 0.3s;
    padding: 1rem;
}

canvas {
    border: 3px solid #444;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: border-color 0.3s;
    width: 100%;
    max-width: 1000px;
    height: auto;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: white;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #666;
}

#themeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

body.dark-mode {
    background-color: #222;
    color: white;
}

#game-container.dark-mode {
    background-color: #333;
}

canvas.dark-mode {
    border-color: white;
}

@media (max-width: 600px) {
    button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
}
